* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 300 1.125rem 'Libre+Franklin', Helvetica, sans-serif;
	background-color: #F7FAFF;
	line-height: 1.5;
	color: #33373E;
}

#wrapper {
	width: 90%;
	margin: 3rem auto 10rem auto;
	max-width: 1140px;
	position: relative;
}

hr {
	border: 0;
	border-top: 1px solid #D5DADF;
}

/* fonts start */
p {
	margin-bottom: 1.25rem;
}

p.tiny {
	font-size: 1rem;
	opacity: 0.75;
}

.highlight {
	background: #FAE0B2;
	color: #76572D;
	border-radius: 0.25rem;
	padding: 0.25rem 0.75rem;
	font-weight: 400;
	font-size: 1rem;
	opacity: 0.8;
	width: fit-content;
}

h1 {
	font: 600 2rem 'Merriweather', serif;
	line-height: 1.25;
	margin-bottom: 2rem;

}

h2 {
	font: 600 1.5rem 'Merriweather', serif;
	line-height: 1.25;
	margin-bottom: 2rem;
	color: black;

}

h3 {
	font: 600 1.25rem 'Merriweather', serif;
	position: relative;
	margin-bottom: 1rem;
	color: black;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	opacity: 0.8;
}

/* fonts end */

/* blocks start */
section {
	margin-top: 3rem;
}

/* blocks end */

.margin-top {
	margin-top: 2rem;
}

.head-flex {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: #F7FAFF;
	z-index: 1;

	margin: 1rem auto;

	padding: 1rem 5%;
}

div.logo a {
	text-decoration: none;
	color: inherit;
}

div.logo span {
	font: 400 1rem 'Merriweather', sans-serif;
	vertical-align: middle;
	display: inline-block;
}

div.logo img {
	width: 1rem;
	vertical-align: middle;
	margin-right: 0.5rem;
}


nav {
	font: 400 1.125rem 'Merriweather', sans-serif;
	width: 60%;
	display: inline-block;
}

ul#sub-nav-menu {
	display: flex;
	margin: 0;
}

ul#sub-nav-menu a {
	border-bottom: 0.125rem solid transparent;

	text-decoration: none;

	display: inline-block;
	width: 100%;
	white-space: nowrap;
	padding: 0.5rem 1rem;




}

ul#sub-nav-menu a:hover {
	border-bottom: 0.125rem solid #33373E;
	transition: all 0.2s ease-in-out;
}

ul#sub-nav-menu a.active {
	border-bottom: 0.125rem solid #262626;
}

ul#nav_menu {
	display: flex;
	justify-content: flex-end;
	margin: 0;
}

button#menu,
button#menu_close,
ul#overlay {
	display: none;
}

ul#nav_menu li:not(:last-child) {
	margin-right: 0.3rem;
}

ul#nav_menu li,
ul#overlay li,
ul#sub-nav-menu li {
	list-style: none;
}

nav a,
ul#overlay a,
div.read-article a,
a.btn {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	width: 100%;
	white-space: nowrap;
	padding: 0.5rem 1.5rem;
	border-radius: 0.25rem;
	transition: background-color 0.5s;
	-webkit-tap-highlight-color: transparent;
}

nav a:hover,
a.btn:hover {
	text-decoration: none;
	color: white;
	background-color: #262626;
	border-color: #262626;
	border-radius: 0.25rem;
}

div.read-article:hover {
	text-decoration: none;
	color: white;
	background-color: #262626;
}

main {
	margin: 7rem 0 7rem 0;
}

blockquote {
	margin-bottom: 4rem;
	line-height: 1.25;
	padding-left: 2rem;
	border-left: 0.25rem solid #D5DADF;
}


#fullHeight {
	height: 100vh;
}

div#align_right {
	position: relative;
	height: 10rem;
	/*no margin-bottom due to position absolute for inner div*/
}

div#align_right h2 {
	font: 3rem 'Merriweather', serif;
	margin-bottom: 1rem;
}

article#works {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7rem;
}

article#works section {
	width: 30%;
	padding: 2rem;
	border-radius: 0.5rem;
	border: solid 2px transparent;
}

article#works section:hover {
	border: solid 2px #687179;
	cursor: pointer;
}

article#works section a {
	width: 100%;
}

article#works img {
	width: 100%;
	vertical-align: top;
	margin-bottom: 3rem;
}

section img {
	border-radius: 0.75rem;
	box-shadow: 0 1rem 2rem #D3DFF3;
}

.anim h3 {
	margin-top: 0;
}

.anim a {
	text-decoration: none;
}

div.read-flex {
	display: flex;
	width: 100%;
}

div.read-flex img {
	width: 45%;
	align-self: flex-start;
	margin-left: 10%;
}

div.read-text {
	width: 55%;
}

div.hero {
	display: flex;
	margin-bottom: 3rem;
}

div.hero img {
	width: 360px;
	border-radius: 0.75rem;
	align-self: flex-start;
	margin-top: -1.5rem;
}

div.hero-text {
	width: 75%;
	margin-right: 5%;
}

a.btn {
	width: auto;
	margin-bottom: 1rem;
	text-align: center;
	border: solid black 3px;
	border-radius: 0.375rem;
	font: 600 1.25rem 'Merriweather', sans-serif;
	transition: background-color 0.5s;
}

article#read section:not(:last-of-type) {
	margin-bottom: 5rem;
}

footer p:nth-of-type(2) {
	display: inline-block;
	margin-right: 3rem;
}

#no-move {
	/*width of outer-zone + a couple px*/
	width: 17.5rem;
	margin-right: 3rem;
}

.boundary {
	/*width and height of green-line, background-clolor of body*/
	/*NO MARGIN!!!!*/
	width: 10rem;
	background-color: #F7FAFF;
}

div#game {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	/*needs height so the following text does not move*/
	height: 5rem;
}

#green-line {
	width: 10rem;
	background-color: yellowgreen;
	height: 0.75rem;
	border-radius: 0.5rem;
	cursor: grab;
}

#outer-zone {
	width: 16rem;
	border: none;
	/*bckg color of body*/
	background-color: #F7FAFF;
}

#inner-zone {
	margin: 0.5rem 0.5rem 0.5rem 0rem;
	height: 4rem;
	border: dashed 2px #D5DADF;
	width: 15rem;
	font: 800 1.2rem 'Merriweather', sans-serif;
	text-align: center;
	line-height: 4rem;
}

.same-zones {
	/*change bckg color in JS also*/
	background-color: white;
	/*change border in JS also*/
	border-radius: 0.5rem;
	/*font of paragraph*/

}

ul#social {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 2rem;
	align-items: center;
}

ul#social li {
	list-style: none;
	margin-right: 2rem;

}

ul#social img {
	box-shadow: none;
	width: 3rem;
	border-radius: 0;
}

ul#social img:hover {
	opacity: 0.6;
	transition: all 0.2s ease-in-out;
}

article.prototypes a {
	position: relative;

}

article.prototypes a:before {
	content: '';
	position: absolute;
	top: -24px;
	right: -24px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.9) url("images/figma-logo.svg") 50% 50% no-repeat;
	background-size: 20px;
	box-shadow: 0 4px 8px #D3DFF3;
	transition: all 2s ease-in-out;

}

img.icon {
	width: 1rem;
	height: 1rem;
}

.featured {
	
	border-radius: 0.5rem;
	padding: 2rem;
	background: #EBF4F9;
}

ul {
	margin: 0 1rem 1rem;
}

.pdf {
	margin-bottom: 2rem;
	text-decoration: none;
	border-radius: 0.25rem;
	padding: 0.125rem 0.5rem;
}

a.pdf:before {
	content: "PDF";
	position: relative;
	font-size: 0.75rem;
	font-weight: 600;
	background: #D2324F;
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
	margin-right: 0.5rem;
	color: white;
	top: -2px;

}

section#illo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	margin-top: 4rem;
}

figure img {
	width: 100%;
	vertical-align: top;
	box-shadow: 0 1rem 2rem #D3DFF3;
	background-color: transparent !important;
	outline: none;
}

figure img:focus,
figure a:focus {
	outline: none;
}

figcaption {
	margin-top: 1rem;
}

figure {
	text-align: center;
}

.fancybox-custom .fancybox-button {
	background: transparent;
}

.fancybox-custom img {
	cursor: default;
}


@media only screen and (max-width: 420px) {
	h1 {
		font-size: 2rem;
	}

	div.hero {
		flex-direction: column;
	}

	ul#social img {
		box-shadow: none;
		width: 2.5rem;
		border-radius: 0;
	}


}

@media only screen and (max-width: 600px) {
	figure img {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: 0 0;
		vertical-align: top;
	}

	article.grid {
		display: grid;
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		margin-top: 2rem;
		margin-bottom: 8rem;
	}

	div#align_right div {
		position: static;
	}

	div#align_right {
		height: initial;
		margin-bottom: 5rem;
	}

	div.read-flex {
		width: auto;
	}


	ul#overlay li {
		font-size: 1.25em;
	}

	.head-flex {
		flex-direction: row;
	}

	ul#sub-nav-menu {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	div#wrapper {
		width: 80%;
	}

	nav {
		width: auto;
	}

	main {
		margin: 4rem 0 4rem 0;
	}

	div#overf {
		overflow-x: hidden;
		/*for overlay*/
		position: relative;
		/*for desk*/
		min-width: 320px;
	}

	.head-flex {
		margin: 0;
		flex-direction: row;
	}

	div#wrapper {
		position: static;
		/*button absolute right:0 for .overf*/
	}

	ul#nav_menu {
		display: none;
	}

	button#menu {
		display: block;
		border-radius: 0.375rem;
		background-color: black;
		color: white;
		font: 600 0.8em 'Merriweather', sans-serif;
		border: none;
		padding: 1rem 2rem;
	}

	button#menu_close {
		position: absolute;
		right: 0;
		transform: translate(0, -30%);
		background-color: transparent;
		z-index: 3;
		border: none;
		padding: 2em;
	}

	button:hover {
		cursor: pointer;
	}

	button:focus {
		outline: none;
	}

	ul#overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		overflow-y: scroll;
		/*the landscape view?*/
		background-color: black;
		width: 100%;
		color: white;
		padding-top: 3rem;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 30%;
		margin: 0;
	}

	ul#overlay li {
		white-space: nowrap;
		font-size: 1.5em;
		margin-bottom: 2rem;
	}

	ul#overlay a:hover {
		color: black;
		background-color: white;
	}

	div.overall_text {
		width: 100%;
		align-items: center;

	}

	div.overall img {
		display: none;
	}


	article#works {
		flex-direction: column;
	}

	article#works section {
		width: 100%;
	}


	div.read-flex {
		flex-direction: column;
	}


	div.read-flex img {
		width: 100%;
		margin: 2rem 0 0;

	}

	div.read-text {
		width: 100%;
	}

	footer p:nth-of-type(2) {
		margin-right: 0;
	}

	footer h3 {
		margin-top: 2.5rem;
	}

	div#game,
	.no-display {
		display: none;
	}

	div.hero {
		flex-direction: column;

	}

	div.hero img {
		width: 100%;
		align-self: center;
		margin-top: 0;
	}

	div.hero-text {
		width: 100%;
		margin: 0;
	}
}


@media only screen and (min-width: 768px) {

	button#menu,
	button#menu_close,
	ul#overlay {
		display: none !important;
	}

	div#head-flex {
		display: flex !important;
	}

	div#hide {
		display: block !important;
	}

	nav a.active {
		background-color: #262626;
		color: white;
	}

	article.grid {
		display: grid;
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		margin-top: 2rem;
		margin-bottom: 8rem;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.grid img {
		width: 300px;
		height: 300px;

	}

	article figure img {
		object-fit: cover;
		object-position: 0 0;
		vertical-align: top;
		border-radius: 0.5rem;
		box-shadow: 0 1rem 1rem #D3DFF3;
		background-color: transparent;
		outline: none;
		transition: all 0.2s ease-in-out;

	}

	.grid a:hover img {
		outline: 4px solid #7ca1df;
	}

	figure img:focus,
	figure a:focus {
		outline: none;
	}

	figure {
		text-align: center;
	}
}

@media only screen and (min-width: 1440px) {
	h1 {
		font-size: 2.5rem;
	}
}

h1 s {
	font-size: 75%;
}

s {
	opacity: 0.3;
}